@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    Founded in 2008, PureGym is the UK’s leading gym chain and a pioneer of the low cost, high quality fitness experience. It operates over 260 gyms with more than 1.1 million members, making it the largest operator of gyms in the UK.</p>

<p>    PureGym has a powerful and highly disruptive customer centric proposition that is differentiated from traditional UK gym operators and appeals to a broad range of customers. The key elements of the proposition include affordable membership fees, no fixed term contracts, and "24x7x365" access to high quality gyms.
</p>
<img src="~/Images/gym.jpg" width="1100" height="500"/>