@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4>
    <br />To request further information or to arrange a visit, contact us using the details below and one of our team will contact you within 24 hours.<br />


    Get in touch!

</h4>
<address>
    Bulevardul Iuliu Maniu 19<br />
    București 061106, Romania<br />

    <br>Phone: 0755555555<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">elite.support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">elite.marketing@example.com</a>
</address>