@model IEnumerable<EliteGym.Models.Facility>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <br>
    <img src="~/Images/elitegym1jpg.jpg" width="375" ; height="200" />
    <img src="~/Images/elitegym2.jpg" width="375" ; height="200" />
    <img src="~/Images/elitegym3.jpg" width="375" ; height="200" />
    <br>
    <br>
</div>
<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead"><b>ELITEGYM</b> is the best gym in your town! We are present in Bucharest, Iasi, Timisoara, Cluj, Constanta with many surprises for you!</p>
    <p>From low cost flexible memberships, to quality gym equipment and classes included, there are loads of reasons why <b>ELITEGYM</b> is the romanians's favourite gym.</p>

</div>


